.container {
    width: 55%;
    height: 60%;
    margin: 20%;
    padding: 5%;
    background-color: #efefef;
}
input {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
}
input[type=number] {
    width: 50px;
}
select {
    border-radius: 5px;
    padding: 5px;
    background-color: #8cdaad;
}